.Button {
    border: none;
    outline: 0;
    border-radius: 20px;
    height: 35px;
    width: 96px;
    color: white;
    background-color: blue;
}

.Button_grey {
    color: darkgray;
    background-color: lightgray;
}

.Button_red {
    color: rgb(240, 240, 240);
    background-color: rgb(151, 6, 6);
}

.blue {
    color: black;
    background-color: blue;
}